#: Ignore .DS_STORE
.DS_STORE
.DS_Store
._.DS_Store

#: Webots
*.cache
*.wbproj
\#*

#: Python
*.orig
*.npy
*.pyc
*.*~
*_flymake.py
*.ipynb

#: Results
*.mp4
*.html
*.h5
*.pickle

#: Latex
*.bak
*.log
*.png
*.eps
*.ps
*.svg
*.aux
*.out
*.synctex.gz
auto/
*.eps
_region_.tex
_region_.log
*.dvi
*.org
*.npz
Assignment
Corrections
*.directory
*.bbl
*.blg
*.toc
*.fdb_latexmk
*.fls

#: Do not ignore figures folder
!figures/*

#: Docs
docs/build
docs/source/_build
make.bat
*.txt

# VS Code
*.vscode
